*{
    font-family: 'Noto Sans', sans-serif; 
}
body{
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 0%;
}

:root{
    --menu-width: 250px;
}

.menu{
    width: var(--menu-width);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #bdbdbd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 40px 0;
    box-sizing: border-box;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: #bdbdbd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 40px 0;
    box-sizing: border-box;
}

.main {
    margin-left: var(--menu-width);
    padding: 1rem 2rem;
  }

.knob {
    display: none;
    transition: all 0.5s ease-in-out;
  }

/* aside */

.logo{
    display: flex;
    align-items: center;
}

.logo__icon{
    background: url(./picture-for-projekt/memo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0 5px 0 0;
}

.nav{
    padding-bottom: 110px;
}

.nav__list{
    padding: 0;
}

.nav__item:not(:last-child){
    margin-bottom: 30px;
}

.nav__item{
    list-style: none;
}

.nav__link{
    text-decoration: none;
    color: rgb(99, 95, 95);
    /* opacity: .6; */
    border-left: violet;
}

.nav__link-aktiv{
    color: #000;
}

.nav__link:hover{
    border-radius: 70%;
    transform: scale(1.2);
    color: #000;
}

.nav__icon{
    
}

.nav__text:hover{
    color: #000;
}

.button{
    border: none;
    background: none;
    font-size: 1.1em;
    color: grey;
    cursor: pointer;
}

/* home-header */

.main{
    display: flex;
    margin: 0 0 0 200px;
}
.home{
    width: 65%;
    border-right: solid 1px rgba(128, 128, 128, .4) ;
    padding-right: 25px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Personaldata--intelligence{
    margin: 0 0 0 15px;
}

.location{
    color: gray;
}

.header__img{
    width: 55px;
    border-radius: 50%;
}

.header-inside{
    display: flex;
    align-items: center;
}

.home__button{
    width: 150px;
    height: 25px;
}

.button__text{
    color: gray;
    display: flex;
    font-size: 10px;
}

.button__icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 23px;
    background: black;
    color: white;
}


/* home-title */

/* Courses */

.home-title__courses-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.title-h1{
    font-size: xx-large;
    margin: 0;
}

.title-a{
    /* color: rgb(99, 95, 95); */
    color: #000;
}

.title-a:hover{
    color: #000;
}

/* Nav */

.home__ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.home__ul-text:hover{
    border-radius: 70%;
    /* transform: scale(1.2); */
    color: #000;
}

.home__ul-text{
    list-style: none;
    color: rgb(99, 95, 95);
    text-decoration: none;
}
.home__ul-text-all{
    color: #000;
    opacity: 1;
}

.home__ul-text:not(:first-child){
    margin: 10px;
}

/* picture */


.forpicture{
    display: flex;
    align-items: center;
}

.forpicture:not(:first-child){
    margin-top: 15px
}

.twobutton{
    width: 100%;
    height: 115px;
    border: solid 1px rgba(0, 0, 0, .4);
}

.onebutton{
    width: 100%;
    height: 115px;
    border: solid 1px rgba(0, 0, 0, .4);
}

.twobutton-picture{
    width: 60%;
}

.twobutton-picture-oop{
    background: url(./picture-for-projekt/First\ drawing.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 30%; */
    /* border: solid 1px rgba(0, 0, 0, .4); */
    background-position: center center;
    /* object-fit: cover; */
    /* background-size: contain; */
}

.onebutton-picture{
    background: url(./picture-for-projekt/Second\ drawing.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid 1px rgba(0, 0, 0, .4); */
    background-position: center center;
    /* object-fit: cover; */
    /* background-size: contain; */
}

.twobutton-picture-flowcast{
    background: url(./picture-for-projekt/Third\ drawing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-color: pink; */
    /* border: solid 1px rgba(0, 0, 0, .4); */
}

.twobutton-picture-for{
    background: url(./picture-for-projekt/fourth\ drawing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* border: solid 1px rgba(0, 0, 0, .4); */
    /* object-fit: cover; */
    /* background-size: cover; */
}

.twobutton-picture-theme{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.twobutton-text{
    text-align: -webkit-left;
    padding-left: 35px;
}

.prog-date{
    opacity: .5;
    margin: 0 0 4px 0;
}



/* timetable */
/* calendar */


.timetable{
    padding-left: 35px;
}

.timetable__hat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.month{
    width: 100px;
    height: 30px;
    border: solid 1px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.las{
    opacity: .5;
}


.calendar{
    width: 350px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.calendar__item{
    width: calc(100% / 7);
    aspect-ratio: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__item--small{
    font-size: .75rem;
}

.calendar__item--grey{
    color: rgb(194, 194, 194);
}

.calendar__item--aktive{
    background: #000;
    color: #fff;
}

.calendar__item:not(.calendar__item--small):hover{
    background: lightgrey;
}


/* upg */


.timeline{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.timeline__line{
    height: 1px;
    background: lightgrey;
    width: 70%;
}

.timeline__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    opacity: .6;
}

.lesson{
    width: 70%;
    height: 40px;
    position: absolute;
    left: 30%;
    margin-top: 11px;
}

.Picture-one{
    background: url(./picture-for-projekt/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: calc(100% / 17*1);
}

.Picture-two{
    background: url(./picture-for-projekt/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: calc(100% / 17*3);
}

.Picture-three{
    background: url(./picture-for-projekt/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: calc(100% / 17*5);
}


/* .Picture-one{
    top: calc(100% / 17*1);
}

.Picture-two{
    top: calc(100% / 17*4);
}

.Picture-three{
    top: calc(100% / 17*7);
} */

@media (max-width: 768px) {
    .menu{
        transform: translateX(calc(var(--menu-width) * -1));
    }
    .menu--open {
        transform: none;
      }

      .knob--open {
        transform: translateX(var(--menu-width));
      }

      .main {
        margin: 0;
      }

      .knob {
        display: inline;
        position: fixed;
        bottom: 10vh;
        left: 0;
        background: #fff;
        border: 1px solid;
        font-size: 5rem;
      }

      /* .menu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 150px;
        background: #bdbdbd;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 40px 0;
        box-sizing: border-box;
    } */
}
    

